<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viewExchanges</title>
    <link rel="stylesheet" href="/static/layout.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});

        var config = {
            api: {
                enable: true,
                interval: 1000 * 3,
                exchange: "bitflyer",
            },
            candlestick: {
                pair: "BTC_JPY",
                duration: "5m",
                limit: 365,
                numViews: 5,
            },
        };

        var exchanges = {
            bitflyer: "Bitflyer",
            gmocoin: "GMO Coin",
            quoine: "Liquid by Quoine"
        };

        var pair_icon = {
            BTC_JPY: "/static/logo/Bitcoin.png",
            XRP_JPY: "/static/logo/Ripple.png",
            ETH_JPY: "/static/logo/Ethereum.png"
        };

        function drawChart(dataTable) {
            var exchange = exchanges[config.api.exchange];
            var pair = config.candlestick.pair;
            $("h1").text(exchange+" Price Chart("+pair+")");
            var chartDiv = document.getElementById('chart_div');
            var charts = [];
            var dashboard = new google.visualization.Dashboard(chartDiv);
            var mainChart = new google.visualization.ChartWrapper({
                chartType: 'ComboChart',
                containerId: 'chart_div',
                options: {
                    height: 400,
                    hAxis: {
                        slantedText: false,
                    },
                    legend: {'position': 'none'},
                    candlestick: {
                        fallingColor: { strokeWidth: 0, fill: '#a52714' },
                        risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                    },
                    seriesType: "candlesticks",
                    series: {}
                },
                view: {
                    columns: [
                        {
                            calc: function(d, rowIndex) {
                                return d.getFormattedValue(rowIndex, 0);
                            },
                            type: 'string'
                        }, 1, 2, 3, 4
                    ]
                }
            });
            charts.push(mainChart);

            var options = mainChart.getOptions();
            var view = mainChart.getView();

            var controlWrapper = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'filter_div',
                'options': {
                    'filterColumnIndex': 0,
                    'ui': {
                        'chartType': 'LineChart',
                        'chartView': {
                            'columns': [0, 4]
                        }
                    }
                }
            });

            dashboard.bind(controlWrapper, charts);
            dashboard.draw(dataTable);
        }

        function send() {
            if (config.api.enable == false) {
                return
            }
            var params = {
                "pair": config.candlestick.pair,
                "limit": config.candlestick.limit,
                "duration": config.candlestick.duration,
            }
            $.get("/api/candle/", params).done(function (data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', 'Time');
                dataTable.addColumn('number', 'Low');
                dataTable.addColumn('number', 'Open');
                dataTable.addColumn('number', 'Close');
                dataTable.addColumn('number', 'High');
                dataTable.addColumn('number', 'Volume');

                var googleChartData = [];
                var candles = data["candles"];

                for(var i=0; i < candles.length; i++){
                    var candle = candles[i];
                    var date = new Date(candle.time);
                    var datas = [date, candle.low, candle.open, candle.close, candle.high, candle.volume];

                    googleChartData.push(datas)
                }

                dataTable.addRows(googleChartData);
                drawChart(dataTable);
            })
        }

        function postData(d) {
            var body;
            var closeExchange = config.api.exchange;
            if (d.indexOf('_') !== -1) {
                config.candlestick.pair = d;
                var pair = config.candlestick.pair;
                var img = document.getElementById("heading_icon");
                img.src = pair_icon[pair]
                body = JSON.stringify( { Pair: d } );
            } else {
                config.api.exchange = d;
                body = JSON.stringify( { Open: d } );
            }
            $.ajax({
                url: "/receive",
                type: 'post',
                data: body,
                contentType: "application/json",
                dataType: 'json'
            });
            send();
            
        }

        function changeDuration(d) {
            before_duration = config.candlestick.duration;
            id = "dur_" + before_duration;
            dur_btn = document.getElementById(id);
            dur_btn.style.color = "#A9A9A9";
            dur_btn.style.textDecoration = "none";
            config.candlestick.duration = d;
            id = "dur_" + d;
            dur_btn = document.getElementById(id);
            dur_btn.style.color = "#468ccb";
            dur_btn.style.textDecoration = "underline";
            sned();
        }


        setInterval(send, 1000 * 3)
        window.onload = function () {
            initial_dur_id = document.getElementById("dur_5m");
            initial_dur_id.style.color = "#468ccb";
            initial_dur_id.style.textDecoration = "underline";
            send()

            $('#dashboard_div').mouseenter(function() {
                config.api.enable = false;
            }).mouseleave(function() {
                config.api.enable = true;
            });
        }
    </script>
</head>
<body>
<header>
    <label>ViewExchanges</label>
</header>
<div class="contents">
    <div class="head">
        <div class="chart_name">
            <h1>
                Bitflyer Price Chart(BTC/JPY)
            </h1>
            <img id="heading_pair-icon" src="/static/logo/Bitcoin.png" />
        </div>
        <section class="select-exchange">
            <button class="btn-exchange" onclick="postData('bitflyer');">Bitflyer</button>
            <button class="btn-exchange" onclick="postData('gmocoin');">GMO Coin</button>
            <button class="btn-exchange" onclick="postData('quoine');">Liquid by Quoine</button>
        </section>
    </div>
    
    <div class="chart_pair">
        <section class="chart">
            <div class="select-duration">
                <button class="btn-duration" id="dur_1m" onclick="changeDuration('1m');">1 Min</button>
                <button class="btn-duration" id="dur_5m" onclick="changeDuration('5m');">5 Min</button>
                <button class="btn-duration" id="dur_30m"onclick="changeDuration('30m');">30 Min</button>
                <button class="btn-duration" id="dur_1h" onclick="changeDuration('1h');">1 Hour</button>
            </div>
            <div id="dashboard_div">
                <div id="chart_div"></div>
                <div class="controller">
                    <div id="filter_div"></div>
                </div>
            </div>
        </section>
        <section class="select-pair">
            <button class="btn-pair" onclick="postData('BTC_JPY');">BTC/JPY</button>
            <button class="btn-pair" onclick="postData('XRP_JPY');">XRP/JPY</button>
            <button class="btn-pair" onclick="postData('ETH_JPY');">ETH/JPY</button>
        </section>
    </div>
    

</body>
</html>